/asm
/bin
/cachedImages
/config
/crash-reports
/CustomDISkins
/logs
/mods/1.7.10
/mods/mcheli
/mods/XaeroWaypoints
/mods/tabula/autosave
/mods/tabula/config
/mods/tabula/export
/mods/tabula/themes
/mods/PortalGunSounds.pak
/moreplayermodels
/resourcepacks
/saves
/screenshots
/usernamecache.json
/.git
/.classpath
/.project
/options.txt
